/*
 *  Fonts
 * ------------------------------------------------------------------------------
 */
/* Khmer Os Battambang */
@font-face {  font-family: "Khmer Os Battambang";font-style: normal;font-weight: 400;src: local("Khmer Os Battambang"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot?#iefix") format("embedded-opentype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff2") format("woff2"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff") format("woff"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.ttf") format("truetype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.svg#svgFontName") format("svg");unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }
/* BayonV8Khmer */
@font-face { font-family: "BayonV8Khmer";font-style: normal;font-weight: 400;src: local("BayonV8Khmer"),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.eot") format('eot'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.svg") format('svg'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.ttf") format('ttf'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff") format('woff'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff2") format('woff2');unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }

/*
 *  Global CSS
 * ------------------------------------------------------------------------------
 */
body {
    font-family: Khmer Os Battambang,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
    background: #FFFFFF;
    overflow-x: hidden;
    position:relative;
}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
.overlay.open{left:0;right:0}
.sidebarNavigation{margin-bottom:0;z-index:999;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:10px;order:-1}
.sideMenu{left:-100%;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:80%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0;padding:0 15px}

/* header tag */
h1 { font-size: 24px;font-weight: 900; }
h2 { font-size: 20px;font-weight: 900; }
h3 { font-size: 18px;font-weight: 900; }
h4 { font-size: 16px;font-weight: 900; }
h5 { font-size: 14px;font-weight: 700; }
h6 { font-size: 12px;font-weight: 900; }
small { font-size: 12px;font-weight: 300; }
/* link */
a, a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
/* list */
ol, ul, dl { padding: 0; }
ul li,ol li{ list-style: none; }
/* form */
textarea:focus, input:focus, button:focus {
    outline: none;
}

/*
 *  Header
 * ------------------------------------------------------------------------------
 */

/*
 *  Navigation
 * ------------------------------------------------------------------------------
 */
header nav.navbar {
    border-bottom: 5px solid #006837;
    background: linear-gradient(
        to right,
        #ffffff 0%,
        #ffffff 50%,
        #006837 50%,
        #006837 100%
    );
    height: 60px;
    margin-top: 56px;
}
header nav .navbar-brand {
    margin-top: -45px;
}
#navbarsExampleDefault {
    height: 55px;
}
#navbarsExampleDefault::before {
    content: "";
    border-left: 55px solid #ffffff;
    border-top: 55px solid transparent;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
}
#navbarsExampleDefault ul {
    padding-left: 55px;
    padding-top: 5px;
}
#navbarsExampleDefault ul li {
    padding: 0 15px;
}
#navbarsExampleDefault ul li a {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
}
/*#navbarsExampleDefault ul li a i {
    color: #ffffff;
    font-size: 16px;
}*/
#navbarsExampleDefault ul li a i.badge::before {

}
#navbarsExampleDefault ul li a span:not(.badge) {
    color: #2d995b;
    font-weight: 700;
    text-shadow: none;
}
#navbarsExampleDefault ul li a span:not(.badge)::before {
    color: #FFFFFF;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
#navbarsExampleDefault ul li a span:not(.badge):hover::before,
#navbarsExampleDefault ul li a span:not(.badge):focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}
/* nav right */
div.nav-right {
    padding-left: 0 !important;
}
div.nav-right ul {
    padding-top: 5px;
}
div.nav-right ul li {
    padding: 0 15px;
}
div.nav-right ul li:first-child {
    border-left: 1px solid #004e29;
}
div.nav-right ul li:last-child {
    padding-right: 0 !important;
}
div.nav-right ul li:first-child a {
    top: 7px
}
div.nav-right ul li a {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
div.nav-right ul li a i.extra {
    font-size: 20px;
    color: #ffffff;
}
div.nav-right ul li a .badge {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: -5px;
}

/*
 *  Hover
 * ------------------------------------------------------------------------------
 */
.btn {
    background-color: #004e29;
    color: #ffffff !important;
    border: 0;
    padding: 0.2rem 0.75rem !important;
    margin: 0.3rem 0;
}
.btn-slide {
    display: inline-block;
    box-shadow: inset 0 0 0 0 #2d995b;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}
.btn-slide.slide-right:hover {
    box-shadow: inset 400px 0 0 0 #2d995b;
}

/*
 *  Animation line
 * ------------------------------------------------------------------------------
 */
.animation-element {
    opacity: 0;
}
.animation-element.divLine {
    opacity: 1;
    width: 0;
    height: 3px;
    background: #703090;
    -webkit-animation: dude .75s 1 forwards;
    -moz-animation: dude .75s 1 forwards;
    -o-animation: dude .75s 1 forwards;
    animation: dude .75s 1 forwards;
}
@-webkit-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-o-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/*
 *  Custom
 * ------------------------------------------------------------------------------
 */

/* margin */
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-x-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* padding */
.p-l-15 {
    padding-left: 15px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* color */
.color-red {
    color: #ed1c24;
}
.color-gray {
    color: #696969;
}
/* background color */
.bg-green {
    background-color: #006837;
}
.bg-green-dark {
    background-color: #004e29;
}

/* break line */
/*hr {
    border-color: #696969;
}*/
/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}

/*** Bootstrap
---------------------------------------------- ***/
/*.msg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}
.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}
.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}*/

/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
footer {
    background-color: #000000;
    padding: 30px 0;
}
footer h4 {
    color: #ffffff;
}
footer hr {
    border-color: #151414;
}
footer ul.online-card {
    text-align: center;
}
footer ul.online-card li {
    display: inline-block;
    padding: 0 2px;
    margin-bottom: 5px;
}
footer ul.online-card li img {
    max-height: 40px;
}
footer #list-info ul li a {
    text-align: left;
    color: #696969;
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    text-transform: capitalize;
}
footer #list-info ul li a:hover {
    color: #ffffff;
}
footer #list-info ul li i.fa-caret-right {
    font-size: 14px;
    padding-right: 3px;
}

/*
 *  Social icons
 * ------------------------------------------------------------------------------
 */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px !important;
}
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook {
    background-color: #3B5998;
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
.social-network a.icoTwitter {
    background-color: #33ccff;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoGoogle {
    background-color: #BD3518;
}
.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}
.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
.social-network a.icoYoutube {
    background-color: #C60000;
}
.social-network a.icoYoutube:hover {
    background-color: #C60000;
}
.social-network a.icoInstagram {
    background-color: #c32aa3;
}
.social-network a.icoInstagram:hover {
    background-color: #c32aa3;
}
.social-network a:hover i {
    color: #ffffff;
}
a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center !important;
    width: 32px;
    height: 32px;
    font-size: 16px !important;
}
.social-circle li i {
    margin: 0;
    line-height: 32px;
    text-align: center;
}
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
    #navbarsExampleDefault ul li {
        padding: 0 10px;
    }
}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    /* slide menu */
    .sideMenu {
        max-width: 35%;
        top: 0;
        height: auto !important;
    }
    .sideMenu button.close {
        color: rgba(255,255,255,.8);
        outline: none;
        font-size: 2rem;
        font-weight: 300;
        text-shadow: none;
    }
    #navbarsExampleDefault::before {
        content: none;
    }
    #navbarsExampleDefault ul.nav {
        padding: 0 15px;
    }
    #navbarsExampleDefault ul li {
        padding: 0;
        border-bottom: 1px solid #006837;
    }
    #navbarsExampleDefault ul li:last-child {
        border-bottom: 0;
    }
    #navbarsExampleDefault ul li a {
        display: inline-block;
    }
    div.nav-right ul li:first-child a {
        top: 0;
    }
    div.nav-right ul li a .badge {
        font-size: 8px;
        top: 5px
    }
    div.nav-right ul li a i {
        font-size: 16px !important;
    }
    /* header nav */
    header nav.navbar {
        background-image: none;
        background-color: #006837 !important;
        height: auto;
        margin-top: 0;
        padding: 0 15px !important;
        border: 0;
    }
    header nav .navbar-brand {
        margin-top: 0;
    }
    header nav.navbar .navbar-toggler {
        border: 0;
        outline: none;
        padding-left: 0;
    }
    header nav.navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    div.nav-right ul {
        padding-top: 0;
    }
    div.nav-right ul li:last-child {
        padding-left: 0 !important;
    }

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    /* slide menu */
    .sideMenu {
        max-width: 100%;
    }
    /* header nav */
    div.nav-right ul li {
        padding-left: 0;
        padding-right: 10px;
    }
    /* button */
    .btn {
        font-size: 14px !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    /* footer */
    footer #list-info ul {
        text-align: center;
    }
    footer #list-info ul li:not(:first-child) {
        display: inline-block;
        margin-right: 10px;
    }


}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* header nav */
    div.nav-right ul li {
        padding-right: 5px;
    }

}
