/*
 *  Banner Slide
 * ------------------------------------------------------------------------------
 */
#banner {
    position: relative;
}
#banner-slide {
    margin: 0;
}
#banner-slide .slide {
    display: none !important;
    cursor: all-scroll;
    position: relative;
}
#banner-slide .slide .bg-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 76vh;
}
#banner-slide .slide:first-child {
    display: block !important;
}
#banner-slide.slick-initialized .slide {
    display: block !important;
}
/* pagination */
#banner-slide ul.slick-dots {
    bottom: 25px;
}
#banner-slide ul.slick-dots li button:before {
    color: #ffffff;
}
#banner .over-banner {
    position: absolute;
    top: 0;
    padding: 0 15px;
    width: 100%;
}
#banner .over-banner button.shop-now {

}
#banner .over-banner .frm-search {
    width: 50%;
    margin: 1rem auto 0;
}
#banner .over-banner .has-search .form-control {
    padding-right: 2.375rem;
}
#banner .over-banner .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    right: 0;

    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    /*pointer-events: none;*/
    color: #004e29;
}
#banner-slide .over-banner .has-search input {
    color: #696969;
}
#banner .over-banner h4 {
    color: #696969;
}

/*
 *  Farm Slide
 * ------------------------------------------------------------------------------
 */
#farm-slide {
    margin-left: -15px;
    margin-right: -15px;
}
#farm-slide .slide {
    display: none;
    padding: 0 15px;
}
#farm-slide.slick-initialized .slide {
    display: block;
}
#farm-slide .slick-arrow {
    position: absolute;
    /* top: 45%;*/
    top: 0;
    z-index: 99;
    height: 100%;
}
#farm-slide .slick-arrow.right {
    right: -15px;
}
#farm-slide .slick-arrow.left {
    left: -15px;
    transform: rotate(180deg);
}
#farm-slide .slick-arrow:hover {
    cursor: pointer;
}
#farm-slide .slick-arrow:focus {
    outline: none;
}

/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
.icon i {
    font-size: 40px;
    padding-right: 10px;
}
.card-columns {
    column-count: 4;
}
#hot-deal .card i {
    font-size: 14px;
    color: #696969;
}
#hot-deal .card .rating i {
    color: #ffd700;
}
#hot-deal .card .card-body h5.card-title {
    text-transform: capitalize;
}
#hot-deal .card .card-footer p {
    font-size: 14px;
}
#hot-deal .card .card-footer p.line-through {
    text-decoration-line: line-through;
    color: #696969;
    font-size: 12px;
}
#hot-deal .card .card-footer i {
    color: #ffffff;
}
#hot-deal .card .card-footer button {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.2rem 0.50rem !important;
}
#hot-deal .view-all {
    color: #333333;
    text-decoration: underline;
    text-align: center;
    display: block;
}

#mail-subscribe {
    background-image: url("../img/home/bg-mail-subscribe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 68vh;
}
#mail-subscribe .newsletter {
    overflow: hidden;
    height: 40px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}
#mail-subscribe .newsletter input {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    padding: 10px 0 10px 15px;
    text-transform: uppercase;
    outline: none;
    transition: border 0.2s ease;
}
#mail-subscribe .newsletter input:focus {
    border: 1px solid #999;
}
#mail-subscribe .newsletter button {
    position: absolute;
    z-index: 999;
    right: 2px;
    top: 2px;
    height: 36px;
    border: none;
    background-color: #004e29;
    transition: background-color 0.3s ease, width 0.3s ease;
    color: #ffffff;
    padding: 0;
    margin: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
#mail-subscribe .newsletter button:hover {
     width: 120px;
 }


/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    .card-columns {
        column-count: 2;
    }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .border-bt-dashed-md {
        border-bottom: 1px dashed #696969;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .card-columns {
        column-count: 2;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #farm-slide .slick-arrow {
        display: none !important;
    }
    .card-columns {
        column-count: 1;
    }
    #mail-subscribe .newsletter {
        width: 320px;
    }

}
